/* Feel free to modify anything in this file.*/
html body {
  background-color: #ecedd5;
  font: futura;
}

header {
	padding-left: 40px;
	padding-top: 20px;
}

.grid {
  padding: 50px;
  padding-top: 50px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
}

.mp1 {
  grid-row: 1;
  grid-column: 1;
}
.mp2 {
  grid-row: 1;
  grid-column: 2;
}
.mp3 {
  grid-row: 2;
  grid-column: 1;
}
.mp4 {
  grid-row: 2;
  grid-column: 2;
}

.vendor-wrapper {
	justify-content: left;
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.vendor-photo {
	max-width: 60%;
	max-height: auto;
  padding-right: 20px;
  float: left;
}

.vendor-book-button {
	font-size: 2em;
}

.fa-stack[data-count]:after{
  margin-top: 50px;
  position: absolute;
  right: 0%;
  top: 0%;
  content: attr(data-count);
  font-size: 40%;
  padding: .6em;
  border-radius: 999px;
  line-height: .75em;
  color: white;
  color: #DF0000;
  text-align: center;
  min-width: 2em;
  font-weight: bold;
  background: white;
  border-style: solid;
}
.fa-circle {
  margin-top: 50px;
  color: #DF0000;
}

.red-cart {
  margin-top: 50px;
  color: #DF0000;
  margin-bottom: 50px;;
}
